@import "tailwindcss";
@source "../**/*.{js,ts,jsx,tsx,mdx}";

@theme {
    --font-inter: var(--font-inter);
    --color-brand-primary: #000000;
    --color-brand-secondary: #707070;
}

@layer base {
    body {
        background-color: #FFFFFF;
        color: #000000;
        font-family: var(--font-inter), sans-serif;
        -webkit-font-smoothing: antialiased;
        line-height: 1.5;
        letter-spacing: -0.02em;
        /* Dense body */
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 0.95;
        letter-spacing: -0.06em;
        /* Ultimate density for headings */
        font-weight: 900;
        text-transform: uppercase;
    }
}

@layer utilities {
    .mix-blend-diff {
        mix-blend-mode: difference;
    }
}